# build output
target
node_modules
.tmp
node
.sass-cache
/tmp

# log
*.log

# db backups
*.bak

# intellij config files
*.iml
/.idea/libraries/
/.idea/sonarIssues.xml
/.idea/workspace.xml
/.idea/dictionaries/tardy.xml
/.idea/jsLibraryMappings.xml
/.idea/uiDesigner.xml
/.idea/dataSources.*
/.idea/dataSources/*
/.idea/artifacts
/.idea/shelf
/.idea/jsLinters/eslint.xml
/.idea/compiler.xml
/.idea/sonarlint

# misc
.merge_file*
.tern-project
.externalToolBuilders
.DocumentRevisions-V100
.fseventsd