<module name="org.apache.httpcomponents.httpmime" xmlns="urn:jboss:module:1.3">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="httpmime-4.5.12.jar"/>
    </resources>

    <dependencies>
    </dependencies>
</module>
